{% extends "base/base.html"%}

{%  block start %}
{% if messages %}
    <div class="alert alert-warning">
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h4>{{ message }}</h4></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}



<div class="container mt-5 pt-5">
    <div class="row">
        
        {% for product in products %}
        <div class="col-md-3">
            <figure class="card card-product-grid">
                <a href="{% url 'get_product' product.slug %}" class="title">
                <div class="img-wrap"> <img src="/media/{{product.product_images.first.image}}"> </div>
                <figcaption class="info-wrap border-top">
                  
                        <b>{{product.product_name}}</b>
                    <div class="price mt-2">${{product.price}}.00</div> <!-- price-wrap.// -->
                
                </figcaption>
            </a>
            </figure> <!-- card // -->
        </div> <!-- col.// -->

        {% endfor %}
      
        
       
    </div>

    </div>


{% endblock %}